<script type="text/javascript">
  $(document).ready(function() {
  $('.simple_pie_chart').each(function() {
    //  alert("for chart prepartion");
    SimplePieChart.initialize(this);
  });
})
</script>
<div id="visited_countries_chart" class="simple_pie_chart" style="width:300px;height:100px;" width='300px' height='100px'>
<% user_countries_count = user_countries.count %>
<table>
  <tr>
    <th>Visited-<%= user_countries_count %></th>
    <!--<td><%#= Country.visited.count %></td>-->
    <td><%= user_countries_count %></td>
  </tr><tr>
    <th>Not Visited - <%=  not_visited(user_countries_count) %></th>
    <td><%= not_visited(user_countries_count) %></td>
  </tr>
</table>
  </div>